* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}

/* header  */

header {
    background-color: #eec1d4;
}

.navbar-nav .nav-link {
    font-weight: 500;
}

.header-search {
    min-width: 280px;
}

/* Mobile fix */
@media (max-width: 991px) {
    .header-search {
        width: 100%;
        margin-top: 10px;
    }
}

/* viwe product */
.product-img {
    width: 100%;
    height: 200px;
    /* sab cards ke liye same */
    object-fit: cover;
}

.card-text {
    height: 60px;
    overflow: hidden;
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;

}

.card-body button {
    margin-top: auto;
}